<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }} - WebGame</title>
    </head>
    <body>
        <h1 style="font-family:STCaiyun">Hello, {{ user.username }}!</h1>
        <img src="duolaameng.png" alt="Duolaameng">
        <h1 style="font-family:STCaiyun">Welcome to My Micro Web Game<h1>
        <h2 style="font-family: STXingKai"> You can execute the following actions<h2>
        <ol>
        <li style="font-family:STCaiyun">  welcome  </li>
        <li style="font-family:STCaiyun">  login  </li>
        <li style="font-family:STCaiyun">  wear treasure   </li>
        <li style="font-family:STCaiyun">  browse market   </li>
        <li style="font-family:STCaiyun">  buy treasure    </li>
        <li style="font-family:STCaiyun">  hang out treasure  </li>
        <li style="font-family:STCaiyun">  reclaim treasure   </li>
        <li style="font-family:STCaiyun">  system reclaim    </li>
        </ol>
    </body>
 </html>
